body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}
section {
position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: grey; }
section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}
.section-2 {
    position: relative;
}
.compra {
    position: absolute;
    top: 5%;
    left: 16.5%;
    width: 60%;
    text-align: left; 
    padding: 50px;
    background-color: black;
    border: 2px solid white;
    border-radius: 15px;
}
.compra h2 {
    margin: 0;
    font-size: 3.5em; 
    color: white; 
    text-shadow: 2px 2px 4px grey; 
}
.sec2-Descripcion {
    position: absolute;
    top: 43.5%; 
    left: 6.5%; 
    width: 50%;
    color: black; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
.sec2-Descripcion h2 {
    margin: 0 0 30px 0;
    font-size: 1.5em; 
    color: white; 
    border: 2px solid black; 
    padding: 10px;
    text-align: center;
}
.sec2-Descripcion p {
    margin: 0; 
    font-size: 1.3em;
    line-height: 1.5;
    width: 55%;
    white-space: normal;
    word-wrap: break-word;
    text-align: justify;
    background-color: white;
    border: 2px solid black; 
    border-radius: 15px; 
    padding: 15px; 
    box-shadow: 0 4px 8px black;
}
.video-container1 {
    position: absolute;
    top: 47.5%; 
    right: 19%; 
    width: 30%; 
}
.video-container1 video {
    width: 100%; 
    height: auto;
    border: 2px solid white; 
    border-radius: 10px; 
}   
.button-container {
    position: absolute;
    bottom: 75%; 
    left: 70%; 
    transform: translateX(-50%); 
}
.tienda-button {
    width: 370px; 
    height: 120px; 
    background-color: yellow; 
    color: black; 
    font-size: 1.5em; 
    font-weight: bold; 
    border: none; 
    border-radius: 65px;
    cursor: pointer; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center;
}
.tienda-button.hidden {
    display: none;
}
.tienda-button:hover {
    background-color: gold; 
}
.tienda-button:active {
    background-color: orange;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.pizza {
    position: absolute;
    width: 50px; 
    height: 50px;
    pointer-events: none; 
    animation: fall linear infinite; 
}
@keyframes fall {
    0% {
        transform: translateY(-100px) rotate(0deg);
        opacity: 1; 
    }
    100% {
        transform: translateY(100vh) rotate(360deg); 
        opacity: 0; 
    }
}